{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def riichi_mahjong_tempay(hand: list) -> int:
    # your code here
    return 0
{% endblock start %}

{% block example %}
print("Example:")
print(riichi_mahjong_tempay([]))
{% endblock %}

# These "asserts" are used for self-checking and not for an auto-testing
{% block tests %}
{% for t in tests %}
assert {% block call %}sum_two({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("Now, what about 'Check solution'?")
{% endblock final %}
